/* ==========================================================================
   #HEADER
   ========================================================================== */

/* Logo
========================================================================== */

.c-header__logo {

  display: inline-block;
  float: left;
  margin-top: 2.5rem;
  position: relative;
  box-sizing: content-box;
  transition: $global-transition;

  /* animated line */
  &:before {

    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    border-left: 0.0625rem solid #fff;
    height: 0;
  }
}

.c-header__logo-inner {
  transition: $global-transition;
  width: 17.5rem;
  height: auto;
  fill: $color-red;
}

/* Active */

@mixin c-header__logo-active {
  .c-header__logo {

    margin: 0;
    width: 8.125rem;
    height: 100%;
    padding-left: 0.5625rem;
    animation: c-header-logo 1ms linear 0.7s 1 normal forwards;

    /* animated line */
    &:before {
      animation: c-header-line 0.3s linear 0.4s 1 normal forwards;
    }
  }

  .c-header__logo-inner {

    margin-top: 1.25rem;
    width: 8.125rem;
    //filter: brightness(0) invert(1);
    fill: $color-white;
  }

  .c-header__logo-inner:hover {
    fill: $color-red;
  }
}

@keyframes c-header-line {
  0% {
    top: 2.1875rem;
    height: 0;
  }

  100% {
    top: 1.25rem;
    height: 2rem;
  }
}

@keyframes c-header-logo {
  0% {
    background: transparent;
  }

  100% {
    background: $color-black;
  }
}

/* Navigation
========================================================================== */

.c-header__navigation {

  float: right;
  margin-top: 2rem;
  transition: $global-transition;

  @include bp(small down) {

    display: none;
  }
}

.c-header__list {
  list-style: none;
  display: flex;
}

.c-header__list-el {
  &:not(:first-child) {
    margin-left: 1.25rem;
  }
}

.c-header__link {

  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  font-size: 0.9375rem;
  position: relative;

  &:after {

    content: '';
    transition: $global-transition;
    display: block;
    width: 1rem;
    height: 0.0625rem;
    background-color: $color-red;
    margin: 8px auto 0;
    position: absolute;
    opacity: 0;
    bottom: -0.625rem;
    left: 0;
    right: 0;
  }

  &:hover {

    color: $color-red;

    &:after {

      opacity: 1;
      width: 100%;
    }
  }
}

/* Active */

@mixin c-header__navigation-active() {
  .c-header__navigation {
    margin-top: 1.5rem;
  }

  .c-header__link {

    color: #fff;

    &:after {
      bottom: -1.5rem;
    }

    &:hover {
      color: $color-red;
    }
  }
}

/* Bar
========================================================================== */

@mixin c-header-active() {

  background: $color-black;
  border-bottom: 0.0625rem solid $color-dark-grey;
  height: 4.375rem;

  /* THD logo */
  .c-header__thd {
    animation: header-thd 0.3s linear 0.7s 1 normal forwards;
  }

  @include c-header__navigation-active;
  @include c-header__logo-active;
}

.c-header {

  width: 100%;
  height: 6.25rem;
  position: fixed;
  padding: 0 3.75rem;
  z-index: 999;
  transition: $global-transition;
  border-bottom: 0 solid $color-dark-grey;

  @include bp(medium down) {
    @include c-header-active;
  }

  @media #{bp(small down)} and #{bp(small only)} {
    padding: 0 1.5rem;
  }

  /* THD logo */
  .c-header__thd {
    display: inline-block;
    opacity: 0;
    float: left;
    width: 6.1875rem;
    margin: 1.25rem -6.1875rem 0 0;
    padding-right: 0.5625rem;
    height: 2rem;
    fill: #fff;
  }
}

html:not(.no-js) .c-header.is-active {
  @include c-header-active;
}

.no-js .c-header {
  position: absolute;
}

@keyframes header-thd {
  0% {
    margin-right: -6.1875rem;
  }

  100% {
    margin-right: 0;
    opacity: 1;
  }
}
