.c-home-hero {

  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}


.c-home-hero__content {

  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  z-index: 10;
  left: 60px;

  max-width: 590px;
}

.c-home-hero__heading {

  font-family: Rubik;
  font-size: 46px;
  font-weight: bold;
  color: $color-white;
  text-transform: uppercase;
  text-shadow: 1px 1px #000;
}

.c-home-hero__text {

  font-size: 18px;
  color: $color-white;
  margin-bottom: 2rem;
  text-shadow: 1px 1px #000;
}

.c-home-hero__steam-button {

  display: block;
  width: 280px;
  height: 80px;
  background: #000 url('../assets/images/steam_logo2.png') 40px center no-repeat;
  background-size: 161px 50px;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  padding: 14px 0 0 103px;
  margin-bottom: 10px;

  span {

    @include hidden-visually;
  }
}

.c-home-hero__download-button {

  width: 280px;
  height: 80px;
  background: #6cb524;
  border-radius: 10px;
  color: #fff;
  padding-left: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &:hover {
    color: inherit;
  }

  span:first-child {

    font-size: 16px;
    text-transform: uppercase;
    margin-top: -5px;
  }

  span:last-child {

    font-size: 14px;
    color: #1b400a;
  }
}


.c-home-hero__download-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 0 10px;
  font-size: 28px;
}


.c-home-hero__video {

  position: absolute;
  width: 120%;
  height: 120%;
  left: -20%;
  object-fit: cover;
  //-webkit-filter: blur(5px);
  opacity: 1;
  filter: grayscale(100%) blur(4px);
}

.c-home-hero__bg {

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

  /*
  background: -moz-linear-gradient(135deg, rgba(238, 9, 9, 0.3) 0%, rgba(0, 238, 255, 0.76) 100%);
  background: -webkit-linear-gradient(135deg, rgba(238, 9, 9, 0.3) 0%, rgba(0, 238, 255, 0.76) 100%);
  background: -o-linear-gradient(135deg, rgba(238, 9, 9, 0.3) 0%, rgba(0, 238, 255, 0.76) 100%);
  background: -ms-linear-gradient(135deg, rgba(238, 9, 9, 0.3) 0%, rgba(0, 238, 255, 0.76) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c800cf', endColorstr='#00eeff', GradientType=1 );
  background: linear-gradient(135deg, rgba(238, 9, 9, 0.3) 0%, rgba(0, 238, 255, 0.76) 100%);
  */


  /* Rambo */
  &:before {
    content: '';
    display: block;
    background: url('../assets/images/header_bg.png') bottom right no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    //opacity:0.8;
  }

  /* Pattern */
  &:after {
    content: '';
    display: block;
    opacity: 1;
    background: rgba(30, 42, 101, 0.3) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAD0lEQVQImWNgYmKayYAMAAjQAKCnXPTPAAAAAElFTkSuQmCC') repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
  }
}

.c-home-hero__bg-sec {

  /* Top shadow */
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 165px 121px -58px #000;
  z-index: 5;


  /* Bottom shadow */
  &:after {

    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -142px 93px -45px #171300;
    z-index: 6;
  }

  /* Grass */
  &:before {

    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../assets/images/grass_bg.png') bottom left repeat-x;
    z-index: 7;
  }
}
