.c-section {

  padding: 0 2rem;
  margin-bottom: 5rem;

  &--trailer {

    @include bp(small down) {
      padding: 0;
    }
  }
}

.c-section__heading {

  font-weight: bold;
  text-align: center;
  margin-bottom: 4rem;
}
