.c-section {

  padding: 0 2rem;

  display: flex;
  flex-direction: column;

  align-items: center;
  margin-bottom: 5rem;
}

.c-section__heading {

  font-weight: bold;
  text-align: center;
  font-size: 2.375rem;
  margin-bottom: 4rem;
}
