{% extends "layouts/base.twig" %}
{% set pageName = 'Index' %}


{% block content %}

    <section class="c-home-hero">

        <div class="c-home-hero__content">

            <h1 class="c-home-hero__heading">Join The <strong>Game</strong>
                and<br><span> Kill Anything That Moves!</span></h1>
            <p class="c-home-hero__text">Soldat is an exciting unique side-view multiplayer action game.<br>
                Played by hundreds of players at this moment.</p>

            <div class="c-home-hero__buttons">
                <a href="#" class="c-btn c-btn--secondary c-btn--pulse">Play now for free</a>
                <a href="#" class="c-btn c-btn--steam">
                    <div class="c-btn__inner">
                        <div class="c-btn__text">Download on <span
                                    class="u-hidden-visually">Steam</span></div>
                        <svg viewBox="0 0 443 123" xmlns="http://www.w3.org/2000/svg"
                             class="c-btn__image">
                            <use xlink:href="assets/images/sprite.svg#steam-symbol" x="0" y="0" width="122"
                                 height="123"></use>
                            <use xlink:href="assets/images/sprite.svg#steam-text" x="200" y="70" width="243"
                                 height="47"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>

        <video class="c-home-hero__video js-hero-video" poster="assets/images/hero_video_poster.jpg" autoplay muted loop>
            <source src="assets/video/Soldat.mp4" type="video/mp4">
        </video>

        <a href="#" class="c-home-hero__trailer-link">
          <div class="o-icon o-icon--inline o-icon--icon-arrow-circle-down c-home-hero__trailer-link-icon">
            <svg class="o-icon__symbol" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="assets/images/sprite.svg#arrow-circle-down"></use>
            </svg>
          </div>
          Watch the trailer
          </a>

        <div class="c-home-hero__bg">
            <div class="c-home-hero__bg-sec"></div>
        </div>
    </section>

    <div class="c-parallax">

        <div class="o-wrapper">

            <section class="c-section">
                <h2 class="c-section__heading">About The Game</h2>
                <h2 class="c-section__heading">Game Specifications</h2>
            </section>

            <section class="c-section c-section--trailer">
                <h2 class="c-section__heading">Trailer</h2>

              <div class="o-video">
                <iframe src="https://www.youtube.com/embed/Zc-qvTq_mrY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </section>

            <section class="c-section">
                <h2 class="c-section__heading">Screenshots</h2>
            </section>

            <section class="c-section">
                <h2 class="c-section__heading">Discover Game Features</h2>

                <ul class="c-features">
                    <li class="c-features__item">

                        <img src="assets/images/features/gametypes.png" alt="Gametypes" class="c-features__image">

                        <div class="c-features__content">
                            <h3 class="c-features__heading u-color-red">There are so many game types</h3>
                            <p class="c-features__text">Soldat has seven main game modes: Deathmatch, Pointmatch,
                                Teammatch, Rambomatch, Capture the Flag, Infiltration, Hold the Flag. It also has three
                                additional sub-game modes: Realistic, Survival , Advance.</p>
                            <p class="c-features__text">New sub game modes showed up within the years, thanks to
                                Soldat's community. Some managed to overcome default modes within time thanks to their
                                refreshing ideas and good modding community behind them. Even today some of those still
                                have a strong positions in Soldat.</p>
                        </div>
                    </li>
                    <li class="c-features__item">

                        <img src="assets/images/features/maps.png" alt="Gametypes" class="c-features__image">

                        <div class="c-features__content">
                            <h3 class="c-features__heading u-color-orange">2 Milion Maps Created</h3>
                            <p class="c-features__text">Soldat has seven main game modes: Deathmatch, Pointmatch,
                                Teammatch, Rambomatch, Capture the Flag, Infiltration, Hold the Flag. It also has three
                                additional sub-game modes: Realistic, Survival , Advance.</p>
                            <p class="c-features__text">New sub game modes showed up within the years, thanks to
                                Soldat's community. Some managed to overcome default modes within time thanks to their
                                refreshing ideas and good modding community behind them. Even today some of those still
                                have a strong positions in Soldat.</p>
                        </div>
                    </li>
                    <li class="c-features__item">
                        <img src="assets/images/features/placeholder.png" alt="Modding" class="c-features__image">
                        <div class="c-features__content">
                            <h3 class="c-features__heading u-color-green">Modding, Community, Leagues etc</h3>
                            <p class="c-features__text">Soldat has seven main game modes: Deathmatch, Pointmatch,
                                Teammatch, Rambomatch, Capture the Flag, Infiltration, Hold the Flag. It also has three
                                additional sub-game modes: Realistic, Survival , Advance.</p>
                        </div>
                    </li>
                </ul>
            </section>


            <section class="c-download-bottom">
                <a href="#" class="c-btn c-btn--primary c-btn--small">Download now!</a>
            </section>

        </div>

        <div class="c-parallax__layers js-parallax">
            <div class="c-parallax__layer c-parallax__layer--1" data-speed="35"></div>
            <div class="c-parallax__layer c-parallax__layer--2" data-speed="45"></div>
            <div class="c-parallax__layer c-parallax__layer--3" data-speed="50"></div>
            <div class="c-parallax__layer c-parallax__layer--4" data-speed="65"></div>
            <div class="c-parallax__layer c-parallax__layer--5" data-speed="70"></div>
            <div class="c-parallax__layer c-parallax__layer--6" data-speed="85"></div>
            <div class="c-parallax__layer c-parallax__layer--7" data-speed="90"></div>
        </div>

    </div>

{% endblock %}


