<footer class="o-wrapper c-footer">

    <div class="c-footer__col c-footer__col--logo">
        <a href="#">
           <img src="assets/images/thd_logo.png" alt="Transhuman Design">
        </a>
    </div>
    <div class="c-footer__col c-footer__col--logo-sec">
        <a href="#">
            <img src="assets/images/steam_logo.png" alt="Steam Powered">
        </a>
    </div>

    <div class="c-footer__col c-footer__col--menu">
        <nav>
            <ul class="c-footer__list">
                <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">About us</a></li>
                <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Our games</a></li>
                <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">News</a></li>
                <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Investors</a></li>
                <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Careers</a></li>
                <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Contact</a></li>
            </ul>
            <ul class="c-footer__list c-footer__list--grey">
                <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Privacy policy</a></li>
                <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Terms and conditions</a></li>
                <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Store</a></li>
                <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Forums</a></li>
            </ul>

            <ul class="c-footer__list c-footer__social-media">
                <li class="c-footer__social-media-el"><a href="#" class="c-footer__social-media-link" target="_blank"
                                                         rel="noopener" title="Facebook" aria-label="Facebook">
                        <div class="o-icon o-icon--icon-facebook">
                            <svg class="o-icon__symbol">
                                <use xlink:href="assets/images/icons.svg#facebook"/>
                            </svg>
                        </div>
                    </a></li>
                <li class="c-footer__social-media-el"><a href="#" class="c-footer__social-media-link" target="_blank"
                                                         rel="noopener" title="Twitter" aria-label="Twitter">
                        <div class="o-icon o-icon--icon-twitter">
                            <svg class="o-icon__symbol">
                                <use xlink:href="assets/images/icons.svg#twitter"/>
                            </svg>
                        </div>
                    </a></li>
                <li class="c-footer__social-media-el"><a href="#" class="c-footer__social-media-link" target="_blank"
                                                         rel="noopener" title="YouTube" aria-label="YouTube">
                        <div class="o-icon o-icon--icon-youtube">
                            <svg class="o-icon__symbol">
                                <use xlink:href="assets/images/icons.svg#youtube"/>
                            </svg>
                        </div>
                    </a></li>
                <li class="c-footer__social-media-el"><a href="#" class="c-footer__social-media-link" target="_blank"
                                                         rel="noopener" title="Discord" aria-label="Discord">
                        <div class="o-icon o-icon--icon-discord">
                            <svg class="o-icon__symbol">
                                <use xlink:href="assets/images/icons.svg#discord"/>
                            </svg>
                        </div>
                    </a></li>
            </ul>
        </nav>

        <p class="c-footer__text">Copyright &copy; {{ "now"|date('Y') }} Transhuman Design. All rights reserved.</p>
    </div>


</footer>
