<footer class="c-footer">

    <div class="c-footer__bg"></div>
    <div class="c-footer__inner">

        <div class="c-footer__columns o-wrapper">

            <div class="c-footer__col c-footer__col--logo">
                <a href="#" class="c-footer__logo">
                    <svg viewBox="0 0 474 163" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="assets/images/sprite.svg#thd"></use>
                    </svg>
                </a>
            </div>
            <div class="c-footer__col c-footer__col--logo-sec">
                <a href="#" class="c-footer__logo">
                    <svg viewBox="0 0 397 123" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="assets/images/sprite.svg#steam"></use>
                    </svg>
                </a>
            </div>

            <div class="c-footer__col c-footer__col--menu">
                <nav>
                    <ul class="c-footer__list">
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">About us</a></li>
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Links</a></li>
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Leagues</a></li>
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Downloads</a></li>
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">FAQ</a></li>
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Manual</a></li>
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Contact</a></li>
                    </ul>
                    <ul class="c-footer__list c-footer__list--grey">
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Privacy policy</a></li>
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Terms and conditions</a>
                        </li>
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Forums</a></li>
                        <li class="c-footer__list-el"><a href="#" class="c-footer__list-link">Store</a></li>
                    </ul>

                    <ul class="c-footer__list c-footer__social-media">
                        <li class="c-footer__social-media-el"><a href="#" class="c-footer__social-media-link"
                                                                 target="_blank"
                                                                 rel="noopener" title="Facebook" aria-label="Facebook">
                                <div class="o-icon o-icon--icon-facebook">
                                    <svg class="o-icon__symbol" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="assets/images/sprite.svg#facebook"></use>
                                    </svg>
                                </div>
                            </a></li>
                        <li class="c-footer__social-media-el"><a href="#" class="c-footer__social-media-link"
                                                                 target="_blank"
                                                                 rel="noopener" title="Twitter" aria-label="Twitter">
                                <div class="o-icon o-icon--icon-twitter">
                                    <svg class="o-icon__symbol" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="assets/images/sprite.svg#twitter"></use>
                                    </svg>
                                </div>
                            </a></li>
                        <li class="c-footer__social-media-el"><a href="#" class="c-footer__social-media-link"
                                                                 target="_blank"
                                                                 rel="noopener" title="YouTube" aria-label="YouTube">
                                <div class="o-icon o-icon--icon-youtube">
                                    <svg class="o-icon__symbol" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="assets/images/sprite.svg#youtube"></use>
                                    </svg>
                                </div>
                            </a></li>
                        <li class="c-footer__social-media-el"><a href="#" class="c-footer__social-media-link"
                                                                 target="_blank"
                                                                 rel="noopener" title="Twitch" aria-label="Twitch">
                                <div class="o-icon o-icon--icon-twitch">
                                    <svg class="o-icon__symbol" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="assets/images/sprite.svg#twitch"></use>
                                    </svg>
                                </div>
                            </a></li>
                        <li class="c-footer__social-media-el"><a href="#" class="c-footer__social-media-link"
                                                                 target="_blank"
                                                                 rel="noopener" title="Discord" aria-label="Discord">
                                <div class="o-icon o-icon--icon-discord">
                                    <svg class="o-icon__symbol" xmlns="http://www.w3.org/2000/svg">
                                      <use xlink:href="assets/images/sprite.svg#discord"></use>
                                    </svg>
                                </div>
                            </a></li>
                    </ul>
                </nav>

                <p class="c-footer__text">Copyright &copy; {{ "now"|date('Y') }} Transhuman Design. All rights
                    reserved.</p>
            </div>

        </div>

    </div>


</footer>
