<header class="c-header js-header">

    <a href="/" rel="home" class="c-header__logo"><img src="assets/images/header_logo.png" alt="Soldat" class="c-header__logo-inner"></a>

    <nav class="c-header__navigation">
        <ul class="c-header__list">
            <li class="c-header__list-el"><a href="#" class="c-header__link">About</a></li>
            <li class="c-header__list-el"><a href="#" class="c-header__link">Blog</a></li>
            <li class="c-header__list-el"><a href="#" class="c-header__link">Leaderboards</a></li>
            <li class="c-header__list-el"><a href="#" class="c-header__link">Media</a></li>
            <li class="c-header__list-el"><a href="#" class="c-header__link">Community</a></li>
        </ul>
    </nav>

</header>


