<header class="c-header js-header">

    <svg viewBox="0 0 474 163" xmlns="http://www.w3.org/2000/svg" class="c-header__thd">
      <use xlink:href="assets/images/sprite.svg#thd-symbol" x="0" y="0" width="163" height="163" fill="#d13245"></use>
      <use xlink:href="assets/images/sprite.svg#thd-text" x="182" y="24" width="292" height="115"></use>
    </svg>

    <a href="/" rel="home" class="c-header__logo">
        <svg viewBox="0 0 280 62" xmlns="http://www.w3.org/2000/svg" class="c-header__logo-inner">
            <use xlink:href="assets/images/sprite.svg#soldat"></use>
        </svg>
    </a>

    <nav class="c-header__navigation">
        <ul class="c-header__list">
            <li class="c-header__list-el"><a href="#" class="c-header__link">About</a></li>
            <li class="c-header__list-el"><a href="#" class="c-header__link">Blog</a></li>
            <li class="c-header__list-el"><a href="#" class="c-header__link">Leaderboards</a></li>
            <li class="c-header__list-el"><a href="#" class="c-header__link">Media</a></li>
            <li class="c-header__list-el"><a href="#" class="c-header__link">Community</a></li>
        </ul>
    </nav>

</header>


